<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:object="${product}" th:text="*{name}"></title>
</head>

<body>
  <p>Categories:</p>
  <ul>
    <li th:each="category : ${categories}">
      <a th:href="@{/products/category/{id}(id=${category.name})}" th:text="${category.name}"></a>
    </li>
  </ul>

  <form th:action="@{/products}" method="POST">
    <input type="text" name="product_name" value="" />
    <button type="submit">Search</button>
  </form>

  <div th:object="${product}">
    <h1 th:text="*{name}"></h1>
    <p th:text="*{category.name}"></p>
    <p><span th:text="*{price}"></span><span> SEK</span></p>
  </div>
</body>

</html>
