<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Products</title>
</head>

<body>
  <p>Categories:</p>
  <ul>
    <li th:each="category : ${categories}">
      <a th:href="@{/products/category/{id}(id=${category.name})}" th:text="${category.name}"></a>
    </li>
  </ul>

  <form th:action="@{/products}" method="POST">
    <input type="text" name="product_name" value="" />
    <button type="submit">Search</button>
  </form>

  <p>Products:</p>
  <ul>
    <li th:each="product : ${products}">
      <a th:href="@{/products/{id}(id=${product.name})}" th:text="${product.name}"></a>
    </li>
  </ul>
</body>

</html>
